$color-black: #141b1c;
$color-red: #dc3f45;
$color-gray: #334247;
$text-white: #ffffff;
$color-light-white: rgba(255, 255, 255, 0.6);
$color-grey: #2a3438;
$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;